


<%- include("partials/header")%>



<link rel="stylesheet" href="/stylesheets/register.css">

<div class="updateuserpg">
    <form action="/updateuser/<%= admin._id%>" method="post" >
    <h1>Update Your Account</h1>
        <input type="text" name="username" placeholder="Username" value="<%= admin.username%>">
        <input type="email" name="email" placeholder="Email" value="<%= admin.email%>" >
        <!-- <input type="file"  name="userimage"  value="<%= admin.userimage%>"> -->
        <input type="text" name="gender" placeholder="Gender" value="<%= admin.gender%>">
        <input type="number" name="number" placeholder="Contact" value="<%= admin.number%>">
        <input type="text" name="address" placeholder="Address" value="<%=admin.address%>">
        <input type="text" name="location" placeholder="Location" value="<%= admin.location%>">    
<button>Update</button>
    </form> 

</div>

<%- include("partials/footer")%>
